<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/rem.js"></script>
    <script src="./js/zpeto.js"></script>
    <link rel="stylesheet" href="./css/find.css">
    <title>应用中心</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <img src="./images/banner01.jpg">
            </li>
        </ul>
    </header>
    <div class="content">
        <section>
            <h4>移动办公</h4>
            <ul class="sort">
                <li class="one">
                    <img src="./images/icon01.png">
                    <p>通知公告1</p>
                </li>
                <li class="two">
                    <img src="./images/icon01.png">
                    <p>通知公告2</p>
                </li>
                <li class="three">
                    <img src="./images/icon01.png">
                    <p>通知公告3</p>
                </li>
                <li class="four">
                    <img src="./images/icon01.png">
                    <p>通知公告4</p>
                </li>
                <li class="five">
                    <img src="./images/icon01.png">
                    <p>通知公告5</p>
                </li>
                <li class="six">
                    <img src="./images/icon01.png">
                    <p>通知公告6</p>
                </li>
                
            </ul>
        </section>
        <section>
            <h4>商务服务</h4>
            <ul class="sort">
                <li class="one">
                    <img src="./images/icon01.png">
                    <p>通知公告1</p>
                </li>
                <li class="two">
                    <img src="./images/icon01.png">
                    <p>通知公告2</p>
                </li>
                <li class="three">
                    <img src="./images/icon01.png">
                    <p>通知公告3</p>
                </li>
                <li class="four">
                    <img src="./images/icon01.png">
                    <p>通知公告4</p>
                </li>
                <li class="five">
                    <img src="./images/icon01.png">
                    <p>通知公告5</p>
                </li>
                <li class="six">
                    <img src="./images/icon01.png">
                    <p>通知公告6</p>
                </li>
                
            </ul>
        </section>
        <section>
            <h4>推荐应用</h4>
            <ul class="sort">
                <li class="one">
                    <img src="./images/icon01.png">
                    <p>通知公告1</p>
                </li>
                <li class="two">
                    <img src="./images/icon01.png">
                    <p>通知公告2</p>
                </li>
                <li class="three">
                    <img src="./images/icon01.png">
                    <p>通知公告3</p>
                </li>
                <li class="four">
                    <img src="./images/icon01.png">
                    <p>通知公告4</p>
                </li>
                <li class="five">
                    <img src="./images/icon01.png">
                    <p>通知公告5</p>
                </li>
                <li class="six">
                    <img src="./images/icon01.png">
                    <p>通知公告6</p>
                </li>
                
            </ul>
        </section>
    </div>
    <footer>
        <ul>
            <li>
                <img src="./images/icon01.png">
                <p>消息1</p>
            </li>
            <li>
                <img src="./images/icon01.png">
                <p>消息2</p>
            </li>
            <li>
                <img src="./images/icon01.png">
                <p>消息3</p>
            </li>
        </ul>
    </footer>
    <script src="./js/find.js"></script>
    <script>
        $("#person")
        var target = { one: 'patridge',k:'kk' },
        source = { two: 'turtle doves',three:'dddd' }

        $.extend(target, source)
        console.log(target);
        console.log(source);
    </script>
</body>
</html>